@import "records";
@import "new";

header {
  width: 100%;
  height: 100px;
  background-color: #01579B;
  color: white;
}

.topBar {
  width: auto;
  display: flex;
  justify-content: space-between;

  &__left {
    padding: 10px 0 0 15px;
    &--main {
      font-size: 70px;
      text-decoration: none;
      font-family: "Courier New", Courier;
      color: white;
    }
  }
}